<div class="smart-widget widget-dark-blue">
	<div class="smart-widget-header">{{ 'category.manage' | translate }}</div>
	<div class="smart-widget-inner">
		
		
		<div ng-show="pageInfo.totalElements > 0">
			<div class="smart-widget-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="300">{{ 'category.title' | translate }}</th>
							<th>{{ 'category.titleE' | translate }}</th>
							<th width="70">{{ 'category.moduleCount' | translate }}</th>
							<th width="150">{{ 'category.createdTime' | translate }}</th>
							<th width="100">{{ 'common.operation' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "category in categorys">
							<td>{{category.title}}</td>
							<td>{{category.titleE}}</td>
							<td>{{category.moduleCount}}</td>
							<td>{{category.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>
								<button class="btn btn-warning btn-xs" ng-click="update(category)">
									<i class="fa fa-bars m-right-xs"></i>{{ 'common.update' | translate }}
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="margin-top: -30px; margin-left: 20px; margin-bottom: 20px;">
				<uib-pagination total-items="pageInfo.totalElements" num-pages="pageInfo.totalPages" ng-model="pageInfo.page" max-size="pageInfo.maxSize" 
					class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="changePage()" ng-disabled="pageInfo.totalElements <= 0" 
					first-text="{{ 'common.page.first' | translate }}" last-text="{{ 'common.page.last' | translate }}" next-text="{{ 'common.page.next' | translate }}" previous-text="{{ 'common.page.previous' | translate }}"></uib-pagination>
			</div>
		</div>
		<div class="smart-widget-body" ng-hide="pageInfo.totalElements > 0">
			<div class="alert alert-warning alert-dismissible" role="alert">
		     	<i class="fa fa-exclamation-circle m-right-xs"></i> <strong>{{ 'common.search.not.result' | translate }}</strong>
		    </div>
		</div>
	</div>
</div>