<div class="smart-widget widget-dark-blue">
	<div class="smart-widget-header">{{ 'lesson.manage' | translate }}</div>
	<div class="smart-widget-inner">
		
		<div style="padding: 20px 20px 0px 20px;">
				<div class="panel">
					<div class="panel-body">
						<div style="float:right; margin-top: 7px;">
							<a href="javascript:" ng-click="isConditionCollapsed = !isConditionCollapsed" class="widget-remove-option"><i class="fa fa-times"></i></a>
						</div>
						<div>
						<form class="form-inline no-margin" novalidate>
							<div class="form-group">
								<input ng-model="condition.title" type="text" class="form-control input-sm" placeholder="{{ 'module.title' | translate }}">&nbsp;&nbsp;
								<input ng-model="condition.titleE" type="text" class="form-control input-sm" placeholder="{{ 'module.titleE' | translate }}">&nbsp;&nbsp;
							</div>
							<button ng-click="query(condition)" class="btn btn-sm btn-success"><i class="fa fa-search m-right-xs"></i>{{ 'common.query' | translate }}</button>
							<button ng-click="cleanCondition()" class="btn btn-sm btn-warning"><i class="ion-close m-right-xs"></i>{{ 'common.clean' | translate }}</button>
							
							<button ng-click="create()" class="btn btn-success btn-sm">
								<i class="ion-plus m-right-xs"></i>{{ 'lesson.create' | translate }}
							</button>
						</form>
						</div>
					</div>
				</div>
			</div>
		
		<div ng-show="pageInfo.totalElements > 0">
			<div class="smart-widget-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="300">{{ 'lesson.title' | translate }}</th>
							<th>{{ 'lesson.titleE' | translate }}</th>
							<th width="100">{{ 'lesson.second' | translate }}</th>
							<th width="100">{{ 'lesson.difficulty' | translate }}</th>
							<th width="150">{{ 'lesson.createdTime' | translate }}</th>
							<th width="150">{{ 'common.operation' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "lesson in lessons">
							<td>{{lesson.title}}</td>
							<td>{{lesson.titleE}}</td>
							<td>{{lesson.second}}</td>
							<td>{{lesson.difficulty | lessonDifficultys | translate}}</td>
							<td>{{lesson.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>
								<div ng-show="lesson.enable + '' == 'false'">
									<button class="btn btn-success btn-xs" ng-click="enable(lesson, true)">
										<i class="fa fa-reply m-right-xs"></i>{{ 'common.enable' | translate }}
									</button>
								</div>
								<div ng-show="lesson.enable + '' != 'false'">
									<button class="btn btn-warning btn-xs" ng-click="update(lesson)">
										<i class="fa fa-bars m-right-xs"></i>{{ 'common.update' | translate }}
									</button>
									<button class="btn btn-danger btn-xs" ng-click="enable(lesson, false)">
										<i class="fa fa-times m-right-xs"></i>{{ 'common.disable' | translate }}
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="margin-top: -30px; margin-left: 20px; margin-bottom: 20px;">
				<uib-pagination total-items="pageInfo.totalElements" num-pages="pageInfo.totalPages" ng-model="pageInfo.page" max-size="pageInfo.maxSize" 
					class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="changePage()" ng-disabled="pageInfo.totalElements <= 0" 
					first-text="{{ 'common.page.first' | translate }}" last-text="{{ 'common.page.last' | translate }}" next-text="{{ 'common.page.next' | translate }}" previous-text="{{ 'common.page.previous' | translate }}"></uib-pagination>
			</div>
		</div>
		<div class="smart-widget-body" ng-hide="pageInfo.totalElements > 0">
			<div class="alert alert-warning alert-dismissible" role="alert">
		     	<i class="fa fa-exclamation-circle m-right-xs"></i> <strong>{{ 'common.search.not.result' | translate }}</strong>
		    </div>
		</div>
	</div>
</div>