<div class="smart-widget widget-dark-blue">
	<div class="smart-widget-header">{{ 'lessonStat.manage' | translate }}</div>
	<div class="smart-widget-inner">
		
		<div style="padding: 20px;">
			<div class="panel">
				<div class="panel-body">
					<div style="float:right; margin-top: 7px;">
						<a href="javascript:" ng-click="isConditionCollapsed = !isConditionCollapsed" class="widget-remove-option"><i class="fa fa-times"></i></a>
					</div>
					<div>
					<form class="form-inline no-margin" novalidate>
						<div class="form-group">
							<select name="userType" ng-model="condition.scope" class="form-control input-sm" required>
								<option value="yesterday">{{ 'lessonStat.scope.yesterday' | translate }}</option>
								<option value="week">{{ 'lessonStat.scope.week' | translate }}</option>
								<option value="total">{{ 'lessonStat.scope.total' | translate }}</option>
							</select>
							
							<input ng-model="condition.title" type="text" class="form-control input-sm" placeholder="{{ 'lesson.title' | translate }}">
							<input ng-model="condition.titleE" type="text" class="form-control input-sm" placeholder="{{ 'lesson.titleE' | translate }}">
						<button ng-click="query(condition)" class="btn btn-sm btn-success"><i class="fa fa-search m-right-xs"></i>{{ 'common.query' | translate }}</button>
						<button ng-click="cleanCondition()" class="btn btn-sm btn-warning"><i class="ion-close m-right-xs"></i>{{ 'common.clean' | translate }}</button>
					</form>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="pageInfo.totalElements > 0">
			<div class="smart-widget-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="300">{{ 'lesson.title' | translate }}</th>
							<th>{{ 'lesson.titleE' | translate }}</th>
							<th width="100">{{ 'lessonStat.playPv' | translate }}</th>
							<th width="100">{{ 'lessonStat.playUv' | translate }}</th>
							<th width="100">{{ 'lessonStat.avgTime' | translate }}</th>
							<th width="100">{{ 'lessonStat.finished' | translate }}</th>
							<th width="100">{{ 'lessonStat.assigned' | translate }}</th>
							<th width="70">{{ 'lessonStat.praised' | translate }}</th>
							<th width="70">{{ 'lessonStat.criticism' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "lessonStat in lessonStats">
							<td>{{lessonStat.lessonTitle}}</td>
							<td>{{lessonStat.lessonTitleE}}</td>
							<td>{{lessonStat.playPv}}</td>
							<td>{{lessonStat.playUv}}</td>
							<td>{{lessonStat.avgTime}}</td>
							<td>{{lessonStat.finished}}</td>
							<td>{{lessonStat.assigned}}</td>
							<td>{{lessonStat.praised}}</td>
							<td>{{lessonStat.criticism}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="margin-top: -30px; margin-left: 20px; margin-bottom: 20px;">
				<uib-pagination total-items="pageInfo.totalElements" num-pages="pageInfo.totalPages" ng-model="pageInfo.page" max-size="pageInfo.maxSize" 
					class="pagination-sm" boundary-links="true" force-ellipses="true" ng-change="changePage()" ng-disabled="pageInfo.totalElements <= 0" 
					first-text="{{ 'common.page.first' | translate }}" last-text="{{ 'common.page.last' | translate }}" next-text="{{ 'common.page.next' | translate }}" previous-text="{{ 'common.page.previous' | translate }}"></uib-pagination>
			</div>
		</div>
		<div class="smart-widget-body" ng-hide="pageInfo.totalElements > 0">
			<div class="alert alert-warning alert-dismissible" role="alert">
		     	<i class="fa fa-exclamation-circle m-right-xs"></i> <strong>{{ 'common.search.not.result' | translate }}</strong>
		    </div>
		</div>
	</div>
</div>