<div class="smart-widget widget-dark-blue">
	<div class="smart-widget-header">{{ 'rank.manage' | translate }}</div>
	<div class="smart-widget-inner">
		<div>
			<div class="smart-widget-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="100">{{ 'rank.number' | translate }}</th>
							<th width="100">{{ 'rank.name' | translate }}</th>
							<th>{{ 'rank.memo' | translate }}</th>
							<th width="200">{{ 'rank.createdTime' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{'rank.1.number' | translate}}</td>
							<td>{{'rank.1.name' | translate}}</td>
							<td>{{'rank.1.memo' | translate}}</td>
							<td>{{'rank.1.createdTime' | translate}}</td>
						</tr>
						<tr>
							<td>{{'rank.2.number' | translate}}</td>
							<td>{{'rank.2.name' | translate}}</td>
							<td>{{'rank.2.memo' | translate}}</td>
							<td>{{'rank.2.createdTime' | translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>